table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 70%;
}

.totalPrice {
  font-weight: bold;
  font-size: xx-large;
}

.Carrito {
  transition: all 300ms linear;
}

.Carrito:hover {
  color: red;
}
