.Carrito-container {
  min-height: 800px;
  width: 80%;
  margin: 0 auto;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 90%;
  border: 1px solid #49b7eb !important;
  border-radius: 5px;
  background-color: white;
}

.totalPrice {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  color: white;
}

.Tachito {
  transition: all 300ms linear;
  color: black;
}

.Tachito:hover {
  color: red;
  cursor: pointer;
}
