.Carrito-container {
  min-height: 800px;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 70%;
}

.totalPrice {
  font-weight: bold;
  font-size: xx-large;
}

.Tachito {
  transition: all 300ms linear;
  color: black;
}

.Tachito:hover {
  color: red;
  cursor: pointer;
}
