.ItemDetail {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 45% 55%;
  border: 1px solid #49b7eb !important;
  border-radius: 5px;
  background-color: white;
}

.ItemDetail-image img {
  max-width: 500px;
  border-radius: 20px;
}

.ItemDetail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  max-height: 500px;
  border-radius: 20px;
}

.ItemDetail-content h2 {
  margin-top: 20px;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}

.ItemDetail-content p {
  width: 80%;
}

.mt-5 {
  margin-top: 1rem !important;
}

#btnGoToCart {
  margin-top: 20px;
}

@media only screen and (max-width: 1520px) {
  .ItemDetail {
    grid-template-columns: 100%;
    margin-bottom: 100px;
  }
}
