.Carrito {
  font-size: 20px;
  transition: all 500ms linear;
}

.Carrito:hover {
  color: red;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: white;
}

.quantityCart {
  background-color: red;
  color: white;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  border-radius: 20px;
}
