.link {
  text-decoration: none;
}

.Carrito {
  color: black;
  font-size: 25px;
  transition: all 300ms linear;
}

.Carrito:hover {
  color: blue !important;
  cursor: pointer;
}

.Carrito-off {
  color: grey;
  font-size: 25px;
}

.nav-item:nth-child(6) {
  margin-right: 0px !important;
}

.noti-cont {
  position: absolute;
  background: red;
  font-family: helvetica;
  border-radius: 500px;
  font-size: 12px;
  width: 21px;
  text-align: center;
  display: inline-block;
  color: white;
  margin-top: -9px;
  margin-left: -10px;
}
.noti-cont span {
  margin-right: -1px;
  font-weight: bold;
}
