.card {
  margin-bottom: 30px;
}

.card:hover {
  transition: all 0.5s linear;
}

.card-body {
  padding: 0.7rem 0 !important;
}

.card-text {
  padding: 0.1rem 1rem;
  font-size: 1rem;
}

.overflow {
  overflow: hidden;
}

.card-img-top {
  transition: all 0.4s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.card-title {
  font-family: 'Comfortaa', cursive;
}
