.ItemCount {
  border: 1px solid grey;
  width: 30rem;
  border-radius: 5px;
}

.btnAdd {
  margin-top: 20px;
}

#inputNumber {
  text-align: center;
  font-weight: bold !important;
}

@media only screen and (max-width: 1520px) {
  #btnAgregarCount {
    margin-bottom: 50px;
  }
}
