.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  margin-bottom: 30px;
}

.card a {
  font-size: 3vh;
  font-weight: bold;
  width: 25%;
}

.link {
  text-decoration: none;
}

@media only screen and (max-width: 991px) {
  .container {
    grid-template-columns: 100%;
  }
}
